
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 5rem;
  background-color: #f9f6f1;
  color: #333;
  border-bottom: 2px solid #ddd;
  font-family: 'Pretendard', sans-serif;
  z-index: 1000;
}


.logo-img {
  height: 65px;
  object-fit: contain;
  cursor: pointer;
}


.nav-menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-right: 0.25rem;
  flex-wrap: nowrap; 
}

.nav-menu a,
.nav-menu button {
  font-size: 1rem;
  color: #4b3f2f;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
}


.auth-icon {
  height: 28px;
  width: 28px;
  object-fit: contain;
  vertical-align: middle;
}


.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}


.logout-btn {
  background: none;
  border: none;
  padding: 0;
}


@media (max-width: 768px) {
  .header {
    flex-direction: row;         
    padding: 0.75rem 1rem;
  }

  .logo-img {
    height: 48px;                
  }

  .nav-menu {
    flex: 1;
    justify-content: flex-end;   
    gap: 1rem;
    flex-wrap: nowrap;           /
  }

  .nav-menu a,
  .nav-menu button {
    font-size: 0.9rem;
  }
}
